# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
.env

# VS Code
.vscode/

# Uploads and results (these will be created by the container)
uploads/
results/

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore 